.board {
  border: 4px solid #808080;
  margin: 0 auto;
  display: grid;
  width: fit-content;
}

.board__cell {
  border: 1px solid #808080;
  box-sizing: border-box;
}

.board__cell_number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2afaf;
}

.board__cell_alive {
  background-color: #008000;
}

.board__cell_missed {
  background-color: #7fffd4;
}

.board__cell_dead {
  background-color: #ff0000;
}
