.board {
  display: grid;
  width: fit-content;
  margin: 0 auto;
}

.board__cell {
  border: 1px solid #808080;
}

.cell__alive {
  background-color: #008000;
}

.cell__missed {
  background-color: #7fffd4;
}

.cell__dead {
  background-color: #ff0000;
}
