.board {
  display: grid;
  width: fit-content;
  margin: 0 auto;
}

.board__cell {
  border: 1px solid #808080;
}

.board__cell_alive {
  background-color: #008000;
}

.board__cell_missed {
  background-color: #7fffd4;
}

.board__cell_dead {
  background-color: #ff0000;
}
